Cine.AppWebCliente/Cine.AppWenCliente/Cine.AppWenCliente/Service References/CineWS/Transacciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50769/Transacciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" />
  <xs:element name="crearColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevoColaborador" nillable="true" type="q1:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearColaboradorResult" nillable="true" type="q2:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarColaborador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarColaboradorResult" nillable="true" type="q3:ArrayOfColaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="colaboradorActualizar" nillable="true" type="q4:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarColaboradorResult" nillable="true" type="q5:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerColaboradorResult" nillable="true" type="q6:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="colaboradorEliminar" nillable="true" type="q7:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="eliminarColaboradorResult" nillable="true" type="q8:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevaPelicula" nillable="true" type="q9:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearPeliculaResult" nillable="true" type="q10:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPelicula">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarPeliculaResult" nillable="true" type="q11:ArrayOfPelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="peliculaActualizar" nillable="true" type="q12:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarPeliculaResult" nillable="true" type="q13:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerPeliculaResult" nillable="true" type="q14:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEspectador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevoEspectador" nillable="true" type="q15:Espectador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEspectadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearEspectadorResult" nillable="true" type="q16:Espectador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspectador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspectadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarEspectadorResult" nillable="true" type="q17:ArrayOfEspectador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEspectador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="espectadorActualizar" nillable="true" type="q18:Espectador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEspectadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarEspectadorResult" nillable="true" type="q19:Espectador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerEspectador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerEspectadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerEspectadorResult" nillable="true" type="q20:Espectador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEspectador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="espectadorEliminar" nillable="true" type="q21:Espectador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEspectadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="eliminarEspectadorResult" nillable="true" type="q22:Espectador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevoCombo" nillable="true" type="q23:Combo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearComboResult" nillable="true" type="q24:Combo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarComboResult" nillable="true" type="q25:ArrayOfCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ComboActualizar" nillable="true" type="q26:Combo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarComboResult" nillable="true" type="q27:Combo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerComboResult" nillable="true" type="q28:Combo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ComboEliminar" nillable="true" type="q29:Combo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="eliminarComboResult" nillable="true" type="q30:Combo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevoProducto" nillable="true" type="q31:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearProductoResult" nillable="true" type="q32:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarProductoResult" nillable="true" type="q33:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ProductoActualizar" nillable="true" type="q34:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarProductoResult" nillable="true" type="q35:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerProductoResult" nillable="true" type="q36:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ProductoEliminar" nillable="true" type="q37:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="eliminarProductoResult" nillable="true" type="q38:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevoCompra" nillable="true" type="q39:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearCompraResult" nillable="true" type="q40:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCompras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarComprasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarComprasResult" nillable="true" type="q41:ArrayOfCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerCompraResult" nillable="true" type="q42:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLocales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLocalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarLocalesResult" nillable="true" type="q43:ArrayOfLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="localActualizar" nillable="true" type="q44:Local" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarLocalResult" nillable="true" type="q45:Local" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerLocalResult" nillable="true" type="q46:Local" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevaSala" nillable="true" type="q47:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearSalaResult" nillable="true" type="q48:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSala">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarSalaResult" nillable="true" type="q49:ArrayOfSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="salaActualizar" nillable="true" type="q50:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarSalaResult" nillable="true" type="q51:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerSalaResult" nillable="true" type="q52:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearcargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevocargo" nillable="true" type="q53:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearcargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearcargoResult" nillable="true" type="q54:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCargo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListaCargoResult" nillable="true" type="q55:ArrayOfCargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="cargoActualizar" nillable="true" type="q56:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarCargoResult" nillable="true" type="q57:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerCargoResult" nillable="true" type="q58:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearGenero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevoGenero" nillable="true" type="q59:Genero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearGeneroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearGeneroResult" nillable="true" type="q60:Genero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGenero">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGeneroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarGeneroResult" nillable="true" type="q61:ArrayOfGenero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarGenero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="GeneroActualizar" nillable="true" type="q62:Genero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarGeneroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarGeneroResult" nillable="true" type="q63:Genero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerGenero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerGeneroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerGeneroResult" nillable="true" type="q64:Genero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarGenero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="GeneroEliminar" nillable="true" type="q65:Genero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarGeneroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="eliminarGeneroResult" nillable="true" type="q66:Genero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCartelera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevaCartelera" nillable="true" type="q67:Cartelera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCarteleraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearCarteleraResult" nillable="true" type="q68:Cartelera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCartelera">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCarteleraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarCarteleraResult" nillable="true" type="q69:ArrayOfCartelera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCartelera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="CarteleraActualizar" nillable="true" type="q70:Cartelera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCarteleraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarCarteleraResult" nillable="true" type="q71:Cartelera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCartelera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCarteleraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerCarteleraResult" nillable="true" type="q72:Cartelera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCartelera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="CarteleraEliminar" nillable="true" type="q73:Cartelera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCarteleraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="eliminarCarteleraResult" nillable="true" type="q74:Cartelera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEstrenos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="nuevoEstreno" nillable="true" type="q75:Estrenos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEstrenosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="crearEstrenosResult" nillable="true" type="q76:Estrenos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEstrenos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEstrenosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="ListarEstrenosResult" nillable="true" type="q77:ArrayOfEstrenos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEstrenos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="EstrenosActualizar" nillable="true" type="q78:Estrenos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEstrenosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="actualizarEstrenosResult" nillable="true" type="q79:Estrenos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerEstrenos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerEstrenosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Cine.Service.Dominio" minOccurs="0" name="obtenerEstrenosResult" nillable="true" type="q80:Estrenos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEstreno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstrenos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEstrenoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>